body{
  background-color: var(--black);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.body{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  transform: translate(-50%, -50%);
  /* background-color: red; */
}

.upload-btn{
  background-color: var(--primary);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-left: 100%;
  transform: translateX(-100%);
  /* float: right; */
}

.delete-button{
  background-color: red;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.table{
  overflow-y: scroll;
  height: 600px;
  margin-top: 10px;
  border-radius: 10px;
}

.item{
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--darker);
}

.item:not(:nth-child(1)){
  margin-top: 5px;
}

.flex{
  display: flex;
}

.flex-item{
  flex: 1 0 auto;
  margin: 5px;
  text-align: center;
}

img{
  height: 50px;
  width: auto;
  border-radius: 10px;
}
